

<header>
    
    <h1>{{title}}</h1>
    <h1>{{text}}</h1>

    <b><a href="/index">Home</a></b>
    <b><a href="/help">Suggestions</a></b>
    <b><a href="/About">About</a></b>
    
    
</header>
