<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="pract.css">
    <title>About</title>
</head>
<body>
    {{>header}}<br>
     <h2 style="color: rgb(184, 155, 211);">In this application a user can enter any location or any city from any country and with 
         the help of API's (application programming interface) this application will return the forecast 
         information about the location that user provided , user can get to know about the region , country 
         cordinated , temperature etc of that location !
    </h2> 
    {{>footer}}
 </body>
</html>