<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel='stylesheet' href="pract.css">
    <title>Suggestion/Experience</title>
</head>
<body>
    {{>header}}
   <div>
	<h2 style="color: rgb(190, 83, 83);">Tell Us About Your Experience ?</h2>
	<textarea rows="8" cols="60" name="" id="para1" placeholder="share your experience with us"></textarea>
    </div><br>
    <div>
    <h2 style="color: rgb(190, 83, 83);">Suggestion ? If Any</h2>
	<form>
	<textarea rows="6" cols="60" name="" id="para1" placeholder="Enter Your suggestion"></textarea>
    </form>
    {{>footer}}
</body>
</html>