<!DOCTYPE html>
<html lang="en">
<head>
    

    <link rel='stylesheet' href="pract.css">
    <title>Index</title>
</head>
<body>
    {{>header}}
    <h2>Here can search for the location</h2>
    <form>
        <input placeholder="Enter the location here...">
        <button>Search</button>        
    </form>

    <h2 style="color: rgb(21, 22, 22);"><b><p id="message-1"></p></b></h2>
    <h3 style="color: rgb(187, 214, 124);"><p id="message-2"></p></h3>
    <h3 style="color: rgb(69, 231, 231);"><p id="message-3"></p></h3>
    <h3 style="color: rgb(130, 149, 214);"><p id="message-4"></p></h3>
    <h3 style="color: rgb(66, 169, 238);"><p id="message-5"></p></h3>
    <h3 style="color: rgb(214, 93, 93);"><p id="message-6"></p></h3>
    <h3 style="color: rgb(85, 175, 126);"><p id="message-7"></p></h3>
    {{>footer}}


    <script src='/javascript/user.js'></script>
</body>
</html>