<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="pract.css">
    <title>About</title>
</head>
<body>
    <h2 style="color: rgb(138, 72, 72);">Welcome here !</h2>
    {{>header}}<br>
    
    <h2 style="color: rgb(98, 202, 98);"> You are on forecast service , visit our Home
        page!
    </h2>
    {{>footer}}
 </body>
</html>